@import '../../styles/index.scss';

.home-page {
  .navbar {
    background-color: transparent;
  }
  .footer {
    .icon-link, .icon-link:hover {
      border: none;
    }
    .icon-link:hover {
      background-color: $white;
      .icon {
        color: $golden !important;
      }
    }
    .icon, .copyright {
      color: $white;
    }
  }
}

.banner {
  height: calc(100vh - 200px);
  text-align: center;
  margin-top: 115px;
  h1 {
    font-size: 48px;
    font-family: $primary-font;
    font-weight: 500 !important;
    letter-spacing: -2px;
    margin: 15px 0px 0px 0px;
  }
  h2 {
    font-size: 32px;
    font-family: $primary-font;
    font-weight: 300 !important;
    margin: -3px;
    padding-bottom: 15px;
  }
  h1,
  p {
    max-width: 50% !important;
    margin: auto;
  }

  p {
    font-weight: lighter;
    font-size: 24px;
    padding-bottom: 50px !important;
  }

  .button {
    text-decoration: none;
    background-color: $terra-cotta;
    border: none;
    margin: 0px 5px;
    padding: 10px 15px;
    border-radius: 25px;
    color: $white;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 18px;
  }
  .button:hover {
    background-color: $golden;
  }
}

.skills {
  // height: calc(100vh - 252px);
  background-color: $morning-blue;
  padding: 100px 75px 175px 75px;
  display: flex;
  justify-content: center;
  align-items: stretch !important;
  .skills-card {
    font-family: $primary-font;
    max-width: 350px;
    min-width: 320px;
    background-color: $white;
    border: $golden 3px solid;
    &:nth-child(2), &:nth-child(3) {
      margin-left: -2px;
    }
    &:first-child {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    &:last-child {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  
    .skills-card-header {
      margin: 80px 15px 15px 15px;
      display: flex !important;
      .icon {
        height: 75px;
        color: $golden;
      }
    }

    h5 {
      width: 300px;
      margin: 0;
      font-size: $h5;
      font-weight: 600;
      letter-spacing: 0.25px;
      color: $terra-cotta;
      text-align: left;
      padding-left: 10px;
      align-self: center;
    }
    p {
      color: $primary-color;
      font-weight: 300;
      padding: 5px 25px 50px 35px;
      max-width: 300px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 960px) {
  .banner {
    margin-top: 50px !important;
    p {
      padding-bottom: 120px;
    }
  }
  .skills {
    flex-wrap: wrap;
  }
  .skills-card {
    text-align: center;
    height: fit-content;
    width: fit-content;
    max-width: 30% !important;
    min-width: 215px;
    &:nth-child(2) {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    &:last-child {
      border-top-right-radius: 0px !important;
      border-bottom-left-radius: 25px;
      margin-top: -2px;
    }
  }
}

@media screen and (max-width: 800px) {
  .skills {
    flex-direction: column;
    align-content: center;
    .skills-card {
      &:first-child {
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
      }
      &:nth-child(2) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: -2px;
      }
      &:nth-child(2), &:nth-child(3) {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .skills-card-header {
    .icon {
      height: 75px !important;
    }
  }
}

@media screen and (max-width: 360px) {

}
