@import '../../styles/index.scss';

.banner {
    text-align: center;
    margin-top: 115px;
    h1 {
        font-size: $h1;
        font-family:  $secondary-font;
        font-weight: 400 !important;
    }
}