@import '../../styles/index.scss';

.home-page {
  .navbar {
    background-color: transparent;
  }
}

.banner {
  height: calc(100vh - 200px);
  text-align: center;
  margin-top: 115px;
  h1 {
    font-size: 48px;
    font-family: $primary-font;
    font-weight: 500 !important;
    letter-spacing: -2px;
    margin: 15px 0px 0px 0px;
  }
  h2 {
    font-size: 32px;
    font-family: $primary-font;
    font-weight: 300 !important;
    margin: -3px;
    padding-bottom: 15px;
  }
  h1,
  p {
    max-width: 50% !important;
    margin: auto;
  }

  p {
    font-weight: lighter;
    font-size: 24px;
    padding-bottom: 50px;
  }

  // Button {
  //   background-color: $terra-cotta;
  //   border: none;
  // }
}

.skills {
  height: calc(100vh - 252px);
  background-color: $morning-blue;
  padding: 80px 75px 175px 75px;
  display: flex;
  justify-content: center;
  align-items: stretch !important;
  .skills-card {
    font-family: $primary-font;
    max-width: 350px;
    background-color: $white;
    border: $golden 3px solid;
    &:nth-child(2), &:nth-child(3) {
      margin-left: -2px;
    }
    &:first-child {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    &:last-child {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  
    .skills-card-header {
      margin: 80px 15px 15px 15px;
      display: flex !important;
      .icon {
        height: 75px;
        color: $golden;
      }
    }

    h5 {
      max-width: 300px;
      margin: 0;
      font-size: $h5;
      font-weight: 600;
      letter-spacing: 0.25px;
      color: $terra-cotta;
      text-align: left;
      padding-left: 10px;
      align-self: center;
    }
    p {
      color: $primary-color;
      font-weight: 300;
      padding: 5px 25px 50px 35px;
      max-width: 300px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 960px) {
  .banner {
    margin-top: 50px !important;
    p {
      padding-bottom: 120px;
    }
  }
  .bio {
    padding-top: 90px;
    height: 100vh;
    background-color: $dark-green;
    display: flex;
    justify-content: center;
    align-content: center;
    .headshot {
      img {
        margin-top: 80px;
        width: 275px !important;
        height: 275px !important;
      }
    }
    .intro {
      padding-left: 5%;
      max-width: 35%;
    }
  }
  .skills {
    margin-top: -210px;
    width: 100%;
  }
  .skills-card {
    text-align: center;
    background-color: $light-green;
    height: fit-content;
    width: fit-content;
    padding: 35px 35px !important;
    margin: 10px !important;
    border-radius: 25px;
    max-width: 30% !important;
    min-width: 215px;
  }
}

@media screen and (max-width: 660px) {
  .bio {
    flex-wrap: wrap;
    padding-top: 25px !important;
    .headshot {
      img {
        object-fit: cover !important;
        width: 15rem !important;
        height: 15rem !important;
        border-radius: 50%;
        border: solid 3px $beige;
      }
    }

    .intro {
      max-width: 90% !important;
      h3 {
        padding-top: 5px !important;
        font-size: $h5;
      }
      max-width: 75%;
      padding-bottom: 200px;
      p {
        margin-top: 5px !important;
        font-size: 16px;
      }
    }
  }

  .skills {
    margin-top: -150px;
    flex-wrap: wrap;
    .skills-card {
      p,
      li {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .bio {
    padding-top: 65px !important;
    .intro {
      max-width: 80% !important;
      h3 {
        font-size: 20px;
      }
    }
  }
  .skills {
    margin-top: -140px;
    .skills-card {
      h6 {
        padding-top: 35px;
      }
      p,
      li {
        font-size: 16px;
      }
    }
  }
}
