$primary-color: #5E5A53;
$dark-green: #CCD5B0;
$light-green: #E9EDCB;
$beige: #FEFAE1;
$primary-font: 'Montserrat', 'sans-serif';
$secondary-font: 'Abril Fatface';
$h1: 38px;
$h3: 32px;
$h5: 28px;
$h6: 18px;