@import '../../styles/index.scss';

.design-project-page {
  margin: 30px 175px;
  h1 {
    font-family: $secondary-font;
    font-weight: 100;
    color: $primary-color;
    padding-bottom: 50px;
    margin: 0;
  }
  h3 {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 15px;
  }
  .design-img {
    display: flex;
    margin: auto;
    justify-content: space-around;
    max-width: 75%;
    img {
      max-width: 250px;
      padding: 5px;
      text-align: center;
      border: 1px solid $light-gray;
    }
  }
}
