@import '../../styles/index.scss';

.design-project-page {
  //   background-color: $light-gray;
  //   margin: 30px 175px 0px 175px;
  padding: 25px 100px 200px 75px;
  h1 {
    font-family: $secondary-font;
    font-weight: 100;
    color: $primary-color;
    padding-bottom: 50px;
    margin: 0;
  }
  h3 {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 15px;
  }
  .design-img {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80%;
    padding-bottom: 15px;
    img {
      max-height: 12rem;
      padding: 5px;
      text-align: center;
      border: 1px solid $light-gray;
      margin: 8px;
    }
  }
}
.grid {
  display: grid;
  // grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  grid-auto-flow: row dense;

  img:nth-of-type(1),
  img:nth-of-type(3) {
    grid-column: span 2;
    grid-row: span 1;
  }
  img:nth-of-type(2) {
    grid-column: span 3;
    grid-row: span 2;
  }
  img {
    padding: 5px;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  //   grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: start;
}
.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container {
  .gallery-container:nth-of-type(2) {
    grid-column: span 4;
    grid-row: span 2;
  }
  .gallery-container:nth-of-type(3) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery-container:nth-of-type(5) {
    grid-column: span 3;
    grid-row: span 2;
  }
  .gallery-container:nth-of-type(7) {
    grid-column: span 3;
    grid-row: span 2;
  }
  .gallery-container:nth-of-type(8) {
    grid-column: span 3;
    grid-row: span 2;
  }
}
