@import '../../styles/index.scss';

.navbar {
  padding: 25px 95px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif !important;
  background-color: $light-green;
  align-items: center;

}

.brand {
  text-decoration: none !important;
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 300 !important;
  color: $primary-color;
}

.nav {
  align-content: center;
}

.navbar-item {
  margin-left: 45px;
  // padding-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none !important;
  color: $primary-color;
}

@media screen and (min-width: 961px){

  .navbar-item:hover {
  box-shadow: inset 0 -8px 0 $dark-green;

  }
}

.brand:hover {
// color: $dark-green;
// font-weight: 700;
  box-shadow: inset 0 -8px 0 $dark-green;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px){
  .navbar {
    position: relative;
  }
  .nav {
    display: none;
  }
  .nav-active {
    display: flex;
    flex-direction: column;
    height: 75px;
    position: absolute;
    top: 22px;
    right: 0;
    background-color: white;
    transition: all 0.5s ease;
    margin-right: 75px;
    text-align: right;
    padding: 33px 20px 25px 30px;
    border: 1px dotted $dark-green;
    box-shadow: 3px 3px 0 rgba(224, 224, 224, 0.136);
    border-radius: 5px;
    a:nth-child(even) {
      border-bottom: 1px dotted $dark-green;
      border-top: 1px dotted $dark-green;

    }
  }
  .navbar-item {
    margin: 0;
    padding: 5px;
  }

  .navbar-item:hover {
    border-right: 5px solid $dark-green;
  }

  .menu-icon {
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
}