@import '../../styles/index.scss';

.navbar {
  padding: 25px 95px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif !important;
  background-color: $light-green;
  align-items: center;

}

.brand {
  text-decoration: none !important;
  font-family: $secondary-font;
  font-size: 26px;
  color: $primary-color;
}

.nav {
  align-content: center;
}

.navbar-item {
  margin-left: 45px;
  // padding-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none !important;
  color: $primary-color;
}

.navbar-item:hover, .brand:hover {
// color: $dark-green;
// font-weight: 700;
  box-shadow: inset 0 -8px 0 $dark-green;
}
