@import '../../styles/index.scss';

.footer {
  height: 120px;
  background-color: $light-green;

  .socials {
    display: flex !important;
    padding-top: 35px;
    justify-content: center;
  }
  .icon-link {
    margin: 0px 0.5rem;
    background-color: transparent;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid $dark-green;
    justify-content: space-around;
    display: flex;
  }
  .icon-link:hover {
    background-color: $dark-green;
  }
  .icon {
    margin: auto;
    height: 37px;
    color: $primary-color;
    &.fa-envelope {
        height: 32px;
    }
  }

}
